* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
.wrapper {
    height: 100%;
    width: 100%;
 
}
 
.header {
    width: 100%;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
 
.navbar {
    width: 98%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
}
 
.left-navbar {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
   
}
 
.right-navbar {
 
    width: 68%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 7px;
}
 
.right-item {
    font-size: 18px;
}
 
.ra {
    font-size: 15px;
    font-weight: 500;
}
 
#searchbar {
    width: 240px;
    height: 30px;
    border: none;
    border-radius: 3px;
    text-align: center;
    background-color: rgb(245, 239, 239);
    font-size: 12px;
}
 
 
.section-1 {
    width: 100%;
    height: 100%;
}
 
.sction-1-content {
    width: 98%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 7px;
    height: 140px;
    margin-top: 1.8em;
   
    text-align: center;
 
}
 
.content-section1 {
    padding: 0px 10px 0px 10px;
 
}
 
 
 
.img1-logo {
    width: 5%;
    height: 80px;
 
}
 
.center-section-content {
    padding-top: 1em;
    width: 50%;
}
 
.last-section-1 {
    width: 20%;
    display: flex;
    justify-content: center;
 
    gap: 10px;
    flex-wrap: wrap;
}
 
#margin{
    margin-left: 190px;
}
 
 
/* Section-2 */
.section-2-container {
    margin-top: 2em;
    width: 100%;
 
}
 
.section-2-main-content {
    width: 96%;
    background-color: rgb(43, 41, 41);
    margin: 0 auto;
    padding-top: 1.8em;
    border-radius: 10px;
}
 
.container-section-2 {
    width: 90%;
    margin: 0 auto;
 
 
}
 
.container-section-2 img {
    width: 100%;
 
 
}
 
/* fixed_class */
 
.fixed_class {
    display: flex;
    width: 33%;
    height: 4.5em;
    background-color:rgb(242, 146, 146);
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: fixed;
    top: 80%;
    left: 33%;
    gap: 2px;
 
}
 
.fixec_divc1 {
    display: flex;
    width: 190px;
    height: 2.5em;
    margin: 0 auto;
    background-color: rgb(29, 25, 25);
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin-left: 1%;
 
}
 
#fixed_div1 {
    width: 26px;
    border: 0.1px solid rgb(255, 255, 255);
    border-radius: 6px;
    font-weight: bold;
    color: beige;
}
 
#fixed_div2 {
    width: 80px;
   
    display: flex;
    font-size: 0.5px;
    margin: 0 auto;
    align-items: center;
    gap: 10px;
}
 
.fixed_div2_div {
    border: 0.1px solid rgb(255, 255, 255);
    font-size: 12px;
    color: rgb(188, 64, 84);
    font-weight: bold;
    border-radius: 4px;
    background-color: rgb(151, 139, 139);
    padding: 11px;
}
 
#fixed_div3 {
    display: flex;
    width: 60px;
    height: 50px;
    font-size: 7px;
    font-weight: bold;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(11, 10, 11, 0.507);
    border-radius: 4px;
    background-color: bisque;
    padding: 11px;
        margin-right: 1%;
 
}
 
/* <!-- section-3 --> */
 
.section3_class {
    width: 100%;
    /* background-color: brown;
} */}
 
.section3_div {
    display: flex;
    width: 96%;
    height: 290px;
    /* background-color: blue; */
    margin: 0 auto;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}
.section3_div_p{
    font-size: 40px;
    color: rgb(37, 33, 33);
    font-weight: bold;
}
 
/* <!-- section-3 --> */
 
 
.section4_main_div{
    width: 96%;
    height: 2000px;
    background-color: rgb(222, 222, 239);
     border-radius: 20px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.section4{
    width: 44%;
   
    height: 600px;
    margin: 0 auto;
    display: flex;
    justify-content:center;
    align-items: center;
    /* justify-content: space-around; */
    gap: 2px;
    flex-wrap: wrap;
    min-width: 0;
    border-radius: 20px;
    margin-top: 1em;
    /* flex-direction: column; */
}
 
.section4_div{
    width: 90%;
    height: 530px;
    background-color: rgb(96, 83, 83);
   
    display: flex;
    margin: 0 auto;
    justify-content: center;  
    align-items: center;  
    flex-direction: column;
     border-radius: 20px;
}
 
.section4_div2{
    width: 450px;
    /* background-color: black; */
    height: 400px;
    border-radius: 20px;
    display: flex;
    margin: 0 auto;
    align-items: center;
}
 
.section4, P{
    font-size: 40PX;
    font-weight: bold;
}
 
.section4_div2, img{
    width: 90%;
    height: 90%;
    margin: 0 auto;
    border-radius: 20px;
}
 
/* section----5 */
 
.section5{
    width: 93%;
   
    height: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content:center;
    align-items: center;
    /* justify-content: space-around; */
    gap: 2px;
    flex-wrap: wrap;
    min-width: 0;
    border-radius: 20px;
    margin-top: -1em;
    /* flex-direction: column; */
}
 
.section5_div{
    width: 97%;
    height: 800px;
    background-color: rgb(96, 83, 83);
    display: flex;
    margin: 0 auto;
    justify-content: center;  
    align-items: center;  
    flex-direction: column;
     border-radius: 20px;
}
 
#para{
    margin-right: 1000px;
    margin-top: -8em;
}
#parra{
    margin-right: 250px;
}