*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div1{
    width: 70px;
    height: 70px;
    background-color: yellow;
    border: 1px solid black;
    position: relative;
    left: 3em;

}