
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
#first-container {
      position: relative;
      width: 100%;
      height: 100vh;
      overflow: hidden;
    }

#navbar{
align-items: center;
position: absolute;
top: 0px;
z-index: 10;
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-around;
   
}

#logo{
  height: 120px;
  width: 250px;
}
#select1{
  height: 45px;
  width: 300px;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
}
#signin{
  width: 120px;
  background-color: rgb(228, 8, 8);
  color: white;
  font-weight:bold;
  font-size: 17px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
#signin:hover {
  background-color: rgb(142, 32, 32);
}

#select{
   font-weight:bold;
  border: none;
  background-color: black;
  color:white;
  cursor: pointer;  
  width: 120px;
  text-align: center;
   font-size: 17px;
  border-radius: 8px;
}

#bg_img{
width: 100%;
 object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
 z-index: 2;
}
  #main-container::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.4) 50%,
        rgba(0, 0, 0, 0.8) 100%
      );
      z-index: 2;
    }

#H-content{

  color: white;
  max-width: 590px;
  position: absolute;
  left: 33%;
  top: 32%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
#heading{
  font-family: unset;
  font-weight: 900px;
  font-size: 4.5rem;
  width: 590px;
  margin-bottom: 20px;
  color: rgb(255, 248, 248);
}
#price{
  font-family: unset;
  font-size:25px;
  font-weight: 900;
  margin-bottom: 2rem;
}

#email-contnr{
  display: flex;
  flex-direction: row;
height: 70px;
gap: 10px;
width: 800px;
height: 100px;
justify-content: center;
align-items: center;
padding-top: 5px;

}
#get-button{
 display: flex;
  flex-direction: row;
padding: 30px;
border-radius: 4px;
border: none;
width: 250px;
height: 70px;
cursor: pointer;
align-items: center;
font-size: 27px;
font-weight: 700;
color: white;
padding: 3px;
background-color: red;
}
 #get-button:hover {
      background-color: brown; 
    }
#email{
  padding: 15px;
  width: 400px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(237, 216, 216);
  color: white;
  border-radius: 3px;
  font-size: 20px;
}
#arrow{
  height: 50px;
  width: 50px;
  color: white;
}
#pargrp{
margin-bottom: 10px;
width: 900px;
font-size: 22px;
font-family: unset;
text-align: center;
}
#red-line{
  height: 3px;
  background-color: red;
}

#after-redline{
  padding: 50px 150px;
  background-color: black;
  color: white;
}
#Trending{
  margin-bottom: 20px;
}

.img-span{
position: relative;
   z-index: 0;
}
.imgs{
   border-radius: 5px;
   cursor: pointer;
}

.img-num{
 position: absolute;
left: 0px;
bottom: 1px;
 z-index: 1;
 color: pink;
 font-size: 100px;
 cursor: pointer;
 font-weight: bolder;
}

#img-scroll{
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 100%;
}


#section2_para_1 {
    font-size: 20px;
    font-weight: Bold;
    color: aliceblue;
    margin-bottom: 8px;
    margin-top: 8px;
}
#section2_para_2 {
    font-size: 30px;
    font-weight: Bold;
    color: aliceblue;
    margin-bottom: 8px;
    margin-top: 8px;
}

.sectio2_div_bacgroundcolor{
     border-radius: 1em;
    border: solid black;
    padding: 8px;
    background-color: rgb(38, 35, 40);
}

#section2_div1{
    display: flex;
    justify-content: space-between;
}


#content_section_3 {
    height: 70vh;
    width: 100%;
    display: flex;
flex-direction: column;
  
}

#seaction_3-item {
    height: 60%;
    width: 80%;
    
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 150px;
    margin-top: 60px;
    color: rgb(236, 232, 241);
    gap: 10px;
}
.section_3_classdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    background-color: rgb(24, 19, 19);
    align-items: center;
    padding:5px 50px;

}

#seaction_3-item input{
    width: 1200px;
    padding:10px;                                                                                                             
}

.seaction_3-item2 {
    display: flex;
    justify-content: center;
    color: aliceblue;
    margin-top:10px;
    height: 10%;
    width:100% ;
    
}
#section3_button{
    margin-top: 21px;
    height: 29px;
    margin-left: 2px;
}


#section_3para1{
    font-size:15px;
    font-weight:bould;
    color: aliceblue;
}

#seaction_3_para{
    margin-top: 3%;
}


#footer {
    height: 50vh;
    color: aliceblue;
    display: flex;
    flex-direction: column;

}

#footer_div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    padding: 20px;

}

.footer_links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap:20px;
    color: aliceblue;
}

.last_item{
    color: aliceblue;
    height: 40px;
    gap:20px;
    padding: 10PX;
    margin-left: 10px;
}
#last_button{
    color: rgb(20, 18, 18);
}