* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.header-nav {
    background-color: white;
    width: 100%;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    position: fixed;
    top: 0;
    left: 0;

}

.navbar {
    background-color: white;
    font-size: 19px;
    width: 94%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 4px;

}

.left-nav-item {

    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    gap: 4px;
    flex-wrap: wrap;
}

.left-item img {
    border-radius: 2px;
    width: 37px;
}

.Right-nav-item {

    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    gap: 4px;
    flex-wrap: wrap;
}


.menu-icon {
    display: none;
}


.left-nav-item #logo {
    display: none;
}

.stacking {
    position: relative;
}


.section-1 {
    width: 100%;

}

.section-1-Banner {
    width: 100%;
    height: 650px;
    margin: 0 auto;

}


.section-1-Banner img {

    width: 100%;
}

.section-2 {
    /* margin-top:6.3em ; */
    width: 100%;

}

.section-container {
    width: 94%;
    margin: 0 auto;

}

#buttons-section {
    width: 40%;
    margin: 0 auto;
    margin-top: 2.3em;
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    font-weight: bold;
}

#section-3-content {
    width: 80%;
    margin: 0 auto;
    margin-top: 2.3em;
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    font-weight: bold;

}

#divImage {
    width: 85%;

}

#divImage div {
    width: 70%;
    margin: 0 auto;
}

#divImage div img {
    width: 100%;

}

#divContent {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#learnMore {
    margin-top: 2em;
    width: 130px;
    padding: 12px;
    background-color: black;
    color: white;
    border-radius: 4px;
    border: none;
    font-size: 14px;
}

#learnMore:hover {
    cursor: pointer;
    background-color: rgb(34, 19, 19);

}

#section-4 {
    width: 94%;
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    font-weight: bold;
}
#search{
    width: 70px;
    border-radius: 7px;
}

.card {
    margin-top: 2em;
    width: 237px;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;

    padding: 4px;

}
#ffff1 img:hover {
    transform: scale(1.1);
}

/* Add animation here  */
#ffff img:hover {
    transform: scale(1.2);
}

/* section 5*/
.section-3-Ex {
    width: 100%;
    margin-top: 2em;
}

.EX-item1 {
    height: 6em;
    width: 80%;
    /* justify-content: center; */
    justify-items: center;
    /* align-items: center; */
    margin: 0 auto;
    background-color: rgb(243, 239, 239);
    border-radius: 1em;
    margin-bottom: 4%;
}

.EX-img-Container {
    width: 100%;
    margin-top: 2em;
    display: flex;

}

.EX-item {
    height: 20em;
    width: 25%;
    display: flex;
    justify-content: center;
    /* justify-items: center; */
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 0 auto;
    background-color: rgb(247, 245, 245);
    border-radius: 15px 0 15px 0;
    /* padding-top:20px ; */
    margin-bottom: 4%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/* ========= */
.EX-img-Xiami{
    width: 100%;
    display: flex;
    height: 30em;
}
.EX-xiami{
    flex-wrap: wrap;
    width:43%;
    gap: 20px;


    /* background-color: rgb(239, 239, 239); */
   

}
/* *********** */
.iconcontainer{
    padding-top: 80px;
    width: 100%;
    background-color: rgb(165, 162, 162);
    height: 42em;
}
.icoen1{
    justify-items: center;
}
.icon-contain2{
    width: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;
}
.icon2{
    width: 25%;
    padding-top: 100px;
    flex-wrap: wrap;
    padding-left: 45px;
   flex-direction: column;
}
.icon2 p {
    padding-top: 20px;
   padding-left: 25px;
}
.footer{

    width: 100%;
    background-color: rgb(26, 25, 25);
    height: 25em;
    padding-top: 40px;
   

}
.footer-contn{
    width: auto;
    display: flex;
    justify-content: space-evenly;
    color: white;
     height: 
}
.footer-item{
     padding-top: 40px;
    flex-direction: column;
    font-size: 17px;
}
.footer-item p{
  padding-top: 40px;
}









@media screen and (max-width: 450px) {
    .header-nav {
        width: 100%;
        height: 100px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    }

    .navbar {

        font-size: 14px;
        color: blue;
        width: 94%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        gap: 4px;
        flex-wrap: wrap;
        line-height: 0.9;
        font-weight: bold;
    }

    .left-nav-item {

        margin-top: 1em;
        width: 60%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        gap: 4px;
        flex-wrap: wrap;
        background-color: red;
        display: none;
    }

    .left-item img {
        border-radius: 100%;
        width: 37px;
    }

    .Right-nav-item {
        width: 30%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        gap: 4px;
        flex-wrap: wrap;
        display: none;
    }


    #logo {
        display: block;
        font-size: 20px;
    }

    .menu-icon {
        display: block;
        font-size: 20px;
    }

    .section-1 {
        margin-top: 5em;
        width: 100%;

    }

    #buttons-section {
        width: 40%;
        margin: 0 auto;
        margin-top: 2.3em;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
        flex-wrap: wrap;
    }

    .section-2 {
        margin-top: -30em;
        width: 100%;

    }

    #section-3-content {
        width: 80%;
        margin: 0 auto;
        margin-top: 2.3em;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
        flex-wrap: wrap;

    }

    #section-4 {
        width: 94%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        align-content: center;
        font-size: 20px;
        flex-wrap: wrap;
        font-weight: bold;
    }
}