
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    height: 300px;
    width: 300px;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around;
    justify-content: space-evenly; */
    /* align-items: end;
    align-items: center;
    flex-wrap: wrap ; */
    /* column-gap: 50px; */
    /* gap: 50px;
    align-content:center ; */
    margin: 0 auto;

}
.item{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    background-color: aqua;
    /* margin-top: 10px; */
    flex-grow: 8;
    

}
#item3{
    order: 1;
}
#badadabba{
    width: 100%;
    background-color:black;
    display: flex;
    justify-content: center;
    
}