*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 .header{
    justify-content: center;
    height: 15vh;
    width: 100%;
     display: flex;
     padding: 0 20px;
     box-shadow: rgba(73, 71, 71, 0.35) 0px 5px 15px;
     display: flex;
     color: rgb(73, 71, 71);

 }
  .left-header{
    display: flex;
      gap: 20px;
    align-items: center;
    margin-right: 250px;
    justify-content: space-between;
    font-style:inherit;
    font-weight: bold;

  }
  .right-header{
     display: flex;
       gap: 30px;
     align-items: center;
     justify-content: space-between;
  }
  hr{
    color: black;
    border: 2px solid goldenrod;
  }

  #image_1{
    height: 8vh;
    width: auto;
  }
  #buynow-icon{
    height: 3vh;
    width: auto;
  }
  #search{
    height: 15px;
    width: 90px;;
    border: 1px solid wheat;
    border-radius: 10px;
  }

  /* section  */
  .section{
    position: relative;
}
.Img-container{
    position: absolute;
    top: 0;
}
#Img-laptops{
    position: absolute;
    top: 0;
}
#offer-image{
    position: absolute;
    top: 0;
}
#KV_ribbon{
    position: absolute;
    top: 0;
}
#P_detail{
    display: flex;
    font-size: small;
    gap: 8px;
    margin: 30px;
    width: 200px;
    top: 0;
    right: 0;
    color: white;
    position: absolute;
    
}


  /* Section last*/
  .section1{
     width: auto;
  }
  #top_image{
    width: 100%;
    display: inline-block;
    height: 500px ;
  }

  /* Section first */
  #title_text {
   background-color: black;
  position: relative; 
  width: 100%; 
  display: flex;

  }
  #offer_text{
    align-items: center;
    display: flex;
    color: rgb(211, 157, 20);
    font-weight: bold;
    width: 400px;
    margin-right: -200px;
  }

  .td_img{
    display: block;
    width: 100%;
  }


  /* part 1st */
  .first_page {
  background-image: url("bg.jpg");
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat;  
}


  .lp_offer {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    gap: 200px;               
    margin-top: px;
    ;
}

.offer_box {
    width: 350px;
    text-align: center;   
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;  
    border: 1px solid gold; 
    transform: rotate(deg);
}
#offer_box{

}
.offer_box-last{
    padding-top: 40px;
    justify-items: center;
}

.img_lp {
    width: auto;
    height: 200px;
    display: block;
}
.img_lp1 {
    width: aut0;
    height: 200px;
    display: block;
}
#Modern14{
    width: aut0;
    height: 200px;
    display: block;
}

.offer_text P {
    margin: 5px 0;
    gap: 30px;
    font-weight: bold;
}

.offer_text .price {
    font-size: 20px;
    font-weight: bold;
    color: rgb(214, 188, 40);         
}

.offer_text del {
    color: rgb(129, 128, 128);
    font-size: 14px;
}
/* Section2 */
.offer-heading{
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 8em;
    display: flex;
    color: #f5b431;
    font-weight: bolder;
    font-size: larger;
}

.section2{
    margin-top: 100px;
}
.sec-container{
     display: flex;
    margin-top: 50px;
    width: 100%;
    justify-content: space-around;
   
}
.sec-name{
     position: relative;

   
}
.sec-name p{
    font-size: larger;
    font-weight: bolder;
    color: black;
    position: absolute;
    top: 1%;
    left: 35%;
    background-color: #ffc062;
    padding: 20px 40px;
 
   
}
#discription{
    color: grey;
    text-align: center; 
    width: 80%;
    margin: 90px auto 0px; 
}

/* Footer */

.footer {
    background: #e3d7d7;
    padding: 40px 60px;
}

.footer-clmn h3 {
    color: gray;
    font-size: 20px;
    margin-bottom: 15px;
    font-weight:900;
}
.footer-contain {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-end {
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
    color: #777;
    display: flex;
    justify-content: space-between;
}
.footer-end p span {
   margin-right: 20px;
}
.footer-clmn p {
    font-size: 16px;
    margin-bottom: 8px;
    color: gray;
    cursor: pointer;
}

.footer-clmn p:hover {
    color: #d35222;
}